/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  width: 720px;
  margin: 20px;
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  font-size: 11px;
  padding: 24px 18px;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

header #picture + div {
  margin-left: 82px;
}

header #picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: 64px;
  float: left;
  margin-right: 18px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

header .tagline {
  float: left;
}

#share-app {
  float: left;
  position:relative;
  left:50%;
}

#share-app ul {
  float: right;
}

#share-app p {
  float: left;
  margin-left: 8px;
}

#share-app li {
  float: left;
  list-style: none;
  margin-left: 8px;
}
/* ------------------------------------------ */

/* =buttons
--------------------------------------------- */
.facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
  background: url("../images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.facebook-button .plus {
  background-position: 6px -17px;
}

.facebook-button .apprequests {
  background-position: 6px -37px;
}

.button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}
/* ------------------------------------------ */

/* =get started
--------------------------------------------- */
#get-started {
  background: url("../images/header.png");
  height: 105px;
  width: 720px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .29);
  padding: 32px 0 0;
  margin-bottom:25px;
}

#get-started p {
  color: #fff;
  font-family: "CorbelRegular";
  font-size: 24px;
  height: 23px;
  margin-bottom: 24px;
}

#get-started p span {
  font-family: "HybreaRegular";
  font-size: 22px;
}
/* ------------------------------------------ */

/* =guides/samples spacing
--------------------------------------------- */
#guides h1,
#samples h1 {
  margin-bottom: 15px;
  text-align: center;
}

#guides, #samples {
  padding: 20px 5px 20px 10px;
}

#guides ul li,
#samples .list {
  float: left;
  margin-right: 3px;
  width: 172px;
}

#guides ul li p,
#samples ul {
  padding: 0 4px;
}
/* ------------------------------------------ */

/* =guides
--------------------------------------------- */
#guides {
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

#guides ul li {
  font-size: 11px;
  list-style: none;
}

#guides ul li p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  line-height: 20px;
  text-align: justify;
}

#guides ul li a.icon {
  background: url("../images/sprites.png") no-repeat;
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 124px;
  text-align: center;
}

#guides ul li a.websites {
  background-position: 35px -87px;
}

#guides ul li a.mobile-apps {
  background-position: 35px -231px;
}

#guides ul li a.apps-on-facebook {
  background-position: 35px -375px;
}

#guides ul li a.heroku {
  background-position: 35px -519px;
}
/* ------------------------------------------ */

/* =samples
--------------------------------------------- */
#samples {
  background-image: url("../images/samples-bg.png");
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #fff;
}

#samples h3 {
  background: url("../images/header-sketch.png") no-repeat;
  color: #646464;
  font-weight: bold;
  font-size: 11px;
  line-height: 29px;
  text-align: center;
}

#samples ul {
  background: url("../images/picture-sketch.png") 4px 8px;
  background-repeat: repeat-y;
  height: 161px;
  overflow: hidden;
  padding-top: 8px;
}

#samples li {
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #7c7c7c;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 32px;
  margin-bottom: 11px;
  overflow: hidden;
  position: relative;
}

#samples li a:link,
#samples li a:visited {
  color: #7c7c7c;
  display: block;
  line-height: 32px;
  padding-left: 36px;
}

#samples .list img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

#samples .inline ul {
  background-repeat: repeat;
}

#samples .inline li {
  float: left;
  margin-left: 12px;
  overflow: hidden;
  padding: 0;
  width: 32px;
  background-position: center 25%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

#samples .inline li.first-column {
  margin-left: 0;
}

#samples .inline li a:link,
#samples .inline li a:visited {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}


/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/*Suggestion box */

	.suggestionsBox{
		z-index: 999;
		
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
	}
	
	.suggestionList,   {
		margin-left: 0px;
		padding: 0px;
	}
	
	.suggestionList li{
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover{
		background-color: #659CD8;
	}
	

/*------------------POPUPS------------------------*/

  #addshow, #moreinfo{
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
        position: relative;
        display: none;
    }
	
	#specificShow{
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 540px;
        position: relative;
        display: none;
    }
	

    #addshow, #moreinfo, #sign_up_form, #specificShow {
        margin-top: 13px;
    }
    #addshow label , #moreinfo label, #specificShow label{
        display: block;
        margin-bottom: 10px; 
        color: #536376;
        font-size: .9em;
    }
  
    #addshow label input , #moreinfo label input, , #specificShow label input{
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
    }
    
    #see_id {
        width: 228px;
        height: 23px;
        background-position: -202px -133px;
		text-align:center;
    }
    #left_out {
        background-position: -202px -158px;
        width: 113px; height: 16px;
    }
    #sign_up_form {
        position: relative;
        background: url(divider.png) repeat-x bottom left;
        padding-bottom: 54px;
        margin-bottom: 12px;
    }
    #actions {
        text-align:center;
    }
    a.form_button {
        float: left;
        width: 93px; height: 31px;
        margin-right: 15px;
    }
    #cancel { background-position: -198px -36px; }
    #log_in { background-position: -291px -36px; }
    #cancel:hover { background-position: -198px -67px; }
    #cancel:active { background-position: -198px -98px; }
    #log_in:hover { background-position: -291px -67px; }
    #log_in:active { background-position: -291px -98px; }
    #close_x { 
        width: 24px; height: 23px;
        overflow: hidden; line-height: 1000px;
        display: block;
        position: absolute; top: 5px; right: 5px;
        background-position: -387px -102px;
    }
    #usage { background-position: -323px -172px; width: 67px; height: 22px;}
	
	#imagegoing
	{
			text-align:center; 
			font-family: 'Helvetica Neue", Arial, sans-serif; 
			font-size: 18px;
	
	}
	#try-1,#try-2, #try-3,#imgoing, #imout, #sendmessage
{		
    background-color: #7AB247;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#608947), to(#7AB247));
    background-image: -webkit-linear-gradient(top, #608947, #7AB247);
    background-image: -moz-linear-gradient(top, #608947, #7AB247);
    background-image: -ms-linear-gradient(top, #608947, #7AB247);
    background-image: -o-linear-gradient(top, #608947, #7AB247);
    background-image: linear-gradient(top, #608947, #7AB247);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #0 #0 #0 #0;

    text-align:center;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #0;
}

 


#try-1:hover,#try-1:focus, #try-2:focus, #try-2:hover, #try-3:focus,#imgoing:hover, #imgoing:focus , #imout:hover, #imout:focus, #try-3:hover, #sendmessage:hover, #sendmessage:focus
{		
    background-color: #608947;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7AB247), to(#608947));
    background-image: -webkit-linear-gradient(top, #7AB247, #608947);
    background-image: -moz-linear-gradient(top, #7AB247, #608947);
    background-image: -ms-linear-gradient(top, #7AB247, #608947);
    background-image: -o-linear-gradient(top, #7AB247, #608947);
    background-image: linear-gradient(top, #7AB247, #608947);
}	

#try-1:active, #try-2:active,#imgoing:active , #try-3:active, #sendmessage:active, #imout:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#try-1::-moz-focus-inner, #try-2::-moz-focus-inner,  #try-3::-moz-focus-inner, #imgoing::-moz-focus-inner, #imout::-moz-focus-inner, #sendmessage::-moz-focus-inner
{
  border: none;
}